---
layout: archive
title: "Work Experience"
permalink: /experience/
author_profile: true
---
<h2> Product Manager, Turing</h2>
<img src="../images/TuringPM.png" style="float:right" width="auto" height="100" />
Responsible for matching software developers from developing countries to their dream jobs at Turing.com - a Series B venture-funded startup based out of Silicon Valley. Remotely leading an international team of 26 data scientists & engineers, who stay in 20+ countries

<h2> Associate Product Manager - 2, Flipkart</h2>
<img src="../images/APM2.png" style="float:left" width="400" height="150" />
Led several User Experience and Design first initiatives to improve Flipkart’s app experience. The image on the right showcases one of the design revamp initiatives I lead, where we created better representations of our product catalogue information. Won the Value Champion award for Customer Focus in my team


<h2> Associate Product Manager - 1, Flipkart </h2>
<img src="../images/APM1.png" style="float:right" width="400" height="150" />
Conceptualised and executed AutoQC - an AutoML platform that uses hundreds of machine learning models to provide real-time feedback to sellers on their product catalog. Check out my <a href="https://www.google.com/url?q=https://tech.flipkart.com/autoqc-providing-instant-catalog-feedback-to-sellers-781c0bc901c6&sa=D&source=editors&ust=1635099463591000&usg=AOvVaw3ELPrlRIXQA6gHCbzd7VfK">Tech Blog article</a> on the same. Was awarded the Value Champion award for customer focus in my team. The AutoQC team also won the Best Team award (chosen out of 8 teams)

<!---
{% include base_path %}

Education
======
* B.Tech From IIT-Madras, 2019

Publications
======
  <ul>{% for post in site.publications %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>

Research
======
  <ul>{% for post in site.talks %}
    {% include archive-single-talk-cv.html %}
  {% endfor %}</ul>

Awards
======
  <ul>{% for post in site.teaching %}
    {% include archive-single-talk-cv.html %}
  {% endfor %}</ul>
  
Work experience
======
  <ul>{% for post in site.posts %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
  
Activities
======
  <ul>{% for post in site.portfolio %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>

-->

