---
layout: archive
title: "Activities"
permalink: /activities/
author_profile: true
---

<h2> Author - Preparing for Product Interviews </h2>
<div>
	<img src="../images/Book.png" alt="My Book - Preparing for Product Interviews" style="float:right" width="200" height="150">
</div>
<p>
I co-authored a book to help students and professionals switch into Product Management roles. It is available on <a href="https://www.amazon.in/dp/B07X1PKQBS">Amazon</a>, <a href="https://www.flipkart.com/preparing-product-interviews-product-ive-guide-landing-job-pm/p/itm41e592b581ae2?pid=9789389097559&lid=LSTBOK9789389097559FICBVM&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=1e2fc6f2-3fd6-4791-8f99-c5fa91dd5f44.9789389097559.SEARCH&ppt=sp&ppn=sp&ssid=obdq51a0eo0000001568350608926&qH=fc40bf0d02f8c4ab">Flipkart</a>, <a href="https://play.google.com/store/books/details/Advaith_Sridhar_Preparing_for_Product_Interviews_A?id=NE6rDwAAQBAJ">Google Play</a> and <a href="https://books.apple.com/us/book/id1477950721">Apple Books</a>. The book is free for students, and has been downloaded over 4,000 times on various forums by students and professionals alike.
<br>
</p>
<p>
User feedback on the book (verbatim):<br>
<i>- Great book. Really lucid writing and simple approach to demonstrate complex concepts.<br>
- One of the best guides I found for my preparation! Very informative, gives a good insight of the role.</i>
</p>

<h2> Oratory, Thespian and other literary activities </h2>
<p>
I have won <b>19</b> inter-hostel & inter-college competitions in theatre, public speaking and other events. I have also directed and participated in several plays, including one ticketed play. Apart from participating, I was also elected hostel Literary secretary by 350+ students to lead my hostel (Godavari) in all intra-college literary activities. 
</p>

<h2> Hackathons </h2>
<h3> Organiser - Hackathon for the Visually Impaired </h3>
<div>
	<img src="../images/HVI.jpg" alt="Sample image of blind hackathon participant" style="float:left;padding:10px;" width="300" height="150">
</div>
<p>
I launched India’s first python programming online course for visually impaired people. We took content from MIT's OpenCourseWare, and taught Python programming to 32 blind students over 4 months. We also organized a Hackathon for the Visually Impaired at the end of the course – India’s first programming contest for visually impaired people. The event was done in collaboration with the central government's Accessible India campaign.
</p>

<h3> Bayern Munchen Hackathon - Improving fan experiences </h3>
<p>
I was chosen from 1,300 applicants around the world to take part in a hackathon conducted by FC Bayern Munich and Technical University Munich. There, we designed a Computer Vision system that capture people's emotions as they watched football matches, and combined it with corresponding footage from the match, thus creating personalised match highlights for each person. 
</p>

<h2> Parliament trip visit </h2>
<p>
I was selected by IIT-Madras to observe parliament sessions and interact with various high-profile ministers, with the goal of better understanding the role IITians could play in forming policy. Ministers we met include Vice President Venkaiah Naidu, former HRD Union Minister Prakash Javadekar, MP Shashi Taroor and former MP Baijayant Panda, amongst others.
</p>


<!---
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
--->

