---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

I lead the Accessibility division at <a href="https://sign-language.ai4bharat.org/">AI4Bharat</a>, where we work on auto-translating Indian Sign Language (ISL) to English

I am the Project Lead for the ASSIST project. We are recipients of <b>Microsoft's AI For Accessibility Grant 2021</b>. You can read more about the below topics <a href="https://sign-language.ai4bharat.org/">here</a>.

<h2>Qualitative User Research Study</h2>
<!--<img src="../images/UserResearchStudy.png" style="float:right" alt="Screenshot from one of our interviews" width="200"/>
<br><br>-->
<p>
We conducted 15 45-minute interviews with Deaf participants, and circulated a form that got 132 responses from employed members of the Deaf community. Through the above, we ascertain the various challenges faced by them on a day-to-day basis, and evaluate the current state of technology, as well as how accessible technology can be built for them. The paper is currently in pre-print, and can be read <a href="../files/accessibility_challenges_faced_by_Indian_Deaf.pdf">here</a><i>Please note that the paper is a work-in-progress. We aim to submit it at CSCW-2022</i>
</p>
<!--<br/><br/><br/><br/>-->

<h2> Integration with Microsoft Teams</h2>
<div>
	<img src="../images/MicrosoftTeamsDemo.png" alt="Screenshot of our Microsoft Teams demo" style="display:block; margin-left: auto; margin-right: auto;">
	<p style="text-align:center;"><i>Screenshot of our Microsoft Teams demo</i></p>
</div>
<p>
My team and I carried out a proof-of-concept demo of our sign language recognition models on Microsoft Teams, in collaboration with Microsoft. Our models were successfully able to detect if a meeting participant was signing, and recognise the sign.  
</p>

<h2> Data Collection</h2>
<div>
	<img src="../images/WorkplaceEnglishCourse.png" alt="Screenshot of the graduate ceremony from our Workplace English Course" style="float:right"><br>
	<p style="text-align:center;"><i>Screenshot of the graduate ceremony from our Workplace English Course</i></p>
</div>
<p>
My goal was to collect data for ASSIST in a manner that also gave back to the Deaf community. Thus, we launched a course on Workplace English communication - a topic of much interest for graduating students. We collected 4,200 videos across 170 classes for our dataset, while also preparing 23 students in workplace English
</p>

<h2> 👐 OpenHands </h2>
<p>
OpenHands is an open source toolkit to democratize sign language research by making pose-based Sign Language Recognition (SLR) more accessible to everyone. I am working on extending OpenHands by developing continuous sign language recognition models with the data collected above. You can find the <a href="https://openhands.ai4bharat.org/">OpenHands documentation here.</a>
</p>
  
<h2> Project INCLUDE </h2>
<h3> Dataset</h3>
<div>
	<img src="../images/INCLUDESample.gif" alt="Example video from the INCLUDE Dataset (sign is `hi`)" style="display:block; margin-left: auto; margin-right: auto;">
	<p style="text-align:center;"><i>Example video from the INCLUDE Dataset (sign is `hi`)</i></p>
</div>
<p>
INCLUDE is India’s first Isolated Sign Language Video dataset. The dataset consists of over 4000 videos recorded by me at a Deaf school near IIT-Madras. The principal of the school enjoyed my involvement so much that he even made the Chief Guest of the batch’s graduating ceremony! <a href="https://zenodo.org/record/4010759#.YXVPsp5BxPY">Dataset Link</a>
</p>

<h3> Model training </h3>
<div>
	<img src="../images/ACMPaper.jpg" alt="ACMMM2020 Paper" style="float:left; padding:10px;" width="200" height="300">
</div>
<p>
We established a benchmark accuracy of 85.6% on the INCLUDE dataset, and 94.5% on INCLUDE-50, a 50 class subset of INCLUDE. Due to the low number of videos per class, we used a pretrained pose detection model (OpenPose) for feature extraction, followed by a pre-trained pipeline of MobileNet as an encoder and a BiLSTM decoder. <b>Published in ACMMM2020</b> <a href="https://dl.acm.org/doi/10.1145/3394171.3413528">Paper Link</a>
</p>

<!---
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
--->