---
layout: archive
title: "Awards"
permalink: /awards/
author_profile: true
---

<h2> Dr. Shankar Dayal Sharma Prize for Best Outgoing BTech Student </h2>
<img src="../images/ShankarDayalPrize.png" alt="Receiving the Dr. Shankar Dayal Sharma Prize from the Prime Minister of India, Shri. Narendra Modi" style="float:right" width="400" height="150">
The Shankar Dayal Sharma prize is awarded by the <b>Prime Minister of India</b> to the best student from the graduating 2019 B.Tech. batch (400+ students) with all-round proficiency in sports, leadership, curricular & extracurricular activities. IIT Madras conducts a rigorous application and verification process for applicants every year.
<br><br>
<h2> Institute Blues - Bronze </h2>
<img src="../images/InstituteBluesPrize.png" alt="Receiving the Institute Blues award from the Director of IIT-Madras" style="float:left;padding:10px,10px,10px,10px;" width="400">
The Institute Blues awards are given to the best graduating students across all IIT-Madras programmes (2000+ students) annually for exceptional achievements in academics, sports, literary, organizational and co-curricular activities. The award has notoriously high standards - gold was never awarded during my time in college, and silver & bronze were only given to 1-2 students.
<br><br>
<h2> Samsung EDGE </h2>
<img src="../images/SamsungEDGEPrize.png" alt="First place in Samsung EDGE - a nationwide case study competition" style="float:right" width="400" height="150">
300+ teams from IITs & IIMs all over India participate in this pan-India technology case study competition. All the other national finalists were MBA students from India's top universities, and it was a moment of surprise and pride for us that we won, despite being undergraduates with no business background. The Dean of IIT-Madras also honoured us with the <b>"Celebrating Success"</b> award for our victory.
<!---
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
--->